* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1a1a1a;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    max-width: 150px;
}

.navbar nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s, transform 0.3s;
}

.navbar nav a:hover {
    color: #2ecc71;
    transform: scale(1.1);
}

.btn {
    background: linear-gradient(45deg, #27ae60, #2ecc71);
    color: #ffffff;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-left: 20px;
    text-shadow: 0px 0px 5px #000;
}

.btn:hover {
    background-color: #1abc9c;
    text-shadow: 0px 0px 10px #ffffff;
    transform: scale(1.05);
}


.intro {
    background-image: url('./360_F_737602314_Kr7aIqF6HXjf6y5nLF9n9wzN2wf0aEq1.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px #000;
    padding: 20px;
}

.intro .introcontent {
    max-width: 800px;
    margin: 0 auto;
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2em;
}

.working {
    padding: 40px 20px;
    text-align: center;
}

.working h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.work-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.work img {
    width: 100%;
    max-width: 100px;
    margin-bottom: 20px;
}

.work h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    min-height: 50px;
}

.work p {
    font-size: 0.9em;
}

.cta {
    background-color: #2ecc71;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.cta h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.cta p {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.cta .btn {
    font-size: 1.2em;
    padding: 15px 30px;
}

footer {
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #2ecc71;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

footer a:hover {
    color: #1abc9c;
}

@media (min-width: 768px) {
    .navbar nav a {
        font-size: 1.1em;
        margin: 0 20px;
    }

    .work-container {
        display: flex;
        justify-content: space-around;
    }

    .work {
        flex: 1;
        max-width: 30%;
        min-height: 300px;
    }
}